<launch>
    <arg name="model" default="robot2DoF"/>
    <arg name="rvizconfig" default="$(find teleoperation_lab1)/rviz/$(arg model).rviz" />
    <include file="$(find teleoperation_lab1)/launch/robot2DoF_gazebo.launch"/>
    <include file="$(find teleoperation_lab1)/launch/robot2DoF_control.launch"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
